/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;family=Shippori+Mincho:wght@400;500;600;700;800&amp;display=swap");

@font-face {
  font-family: "Brice";
  src: url("../fonts/Brice-RegularSemiExpanded.ttf");
}

/* COLOR */
:root {
  --primary: #d4ac63;
  --text: #636363;
  --nav-text: #c3d4e4;
  --nav-color: #2c3639;
  --light: #f6f1ea;
}

.calbeans-menu-text {
  font-family: "Chivo", sans-serif;
  color: #c3d4e4;
}

/* TEXT */
body {
  font-family: "Chivo", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
h1,
h2 {
  font-family: "Brice", "Chivo", sans-serif;
  color: var(--primary);
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
  letter-spacing: 0.1rem;
}

h3,
h4,
h5,
h6,
h6 {
  font-family: "Chivo", sans-serif;
  color: var(--default-temp_color-202738);
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}
p {
  font-family: "Chivo", sans-serif;
  color: var(--default-temp_color-636363);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
  line-height: 1.4;
}

/* BACKGROUND OVERLAY */
.hero-overly {
  position: relative;
  z-index: 0;
}
.hero-overly::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero-overly::before {
  background: -moz-linear-gradient(
    left,
    rgba(32, 39, 56, 0.8) 0%,
    rgba(31, 39, 56, 0.8) 7%,
    rgba(43, 49, 65, 0.62) 28%,
    rgba(41, 48, 65, 0.61) 29%,
    rgba(44, 50, 65, 0.6) 30%,
    rgba(44, 51, 66, 0.59) 31%,
    rgba(43, 50, 65, 0.58) 32%,
    rgba(45, 50, 68, 0.57) 33%,
    rgba(45, 52, 68, 0.56) 34%,
    rgba(45, 52, 69, 0.55) 35%,
    rgba(45, 53, 67, 0.53) 37%,
    rgba(47, 53, 70, 0.52) 38%,
    rgba(48, 54, 69, 0.51) 39%,
    rgba(47, 53, 68, 0.5) 40%,
    rgba(47, 53, 69, 0.49) 41%,
    rgba(49, 56, 72, 0.47) 43%,
    rgba(50, 56, 71, 0.46) 44%,
    rgba(51, 55, 72, 0.45) 45%,
    rgba(51, 55, 71, 0.43) 47%,
    rgba(50, 57, 73, 0.42) 48%,
    rgba(51, 58, 72, 0.41) 49%,
    rgba(51, 58, 75, 0.4) 50%,
    rgba(52, 57, 74, 0.39) 51%,
    rgba(51, 59, 74, 0.38) 52%,
    rgba(55, 60, 75, 0.37) 53%,
    rgba(54, 61, 76, 0.36) 54%,
    rgba(54, 59, 75, 0.35) 55%,
    rgba(56, 61, 77, 0.34) 56%,
    rgba(55, 63, 77, 0.33) 57%,
    rgba(55, 60, 77, 0.32) 58%,
    rgba(55, 61, 78, 0.31) 59%,
    rgba(56, 62, 79, 0.3) 60%,
    rgba(58, 64, 79, 0.29) 61%,
    rgba(56, 62, 78, 0.28) 62%,
    rgba(57, 64, 80, 0.27) 63%,
    rgba(59, 62, 78, 0.26) 64%,
    rgba(60, 64, 81, 0.25) 65%,
    rgba(59, 65, 79, 0.24) 66%,
    rgba(60, 67, 81, 0.23) 67%,
    rgba(59, 67, 81, 0.22) 68%,
    rgba(61, 65, 80, 0.21) 69%,
    rgba(59, 67, 78, 0.2) 70%,
    rgba(61, 69, 81, 0.19) 71%,
    rgba(59, 68, 81, 0.18) 72%,
    rgba(62, 66, 84, 0.17) 73%,
    rgba(64, 68, 87, 0.16) 74%,
    rgba(66, 71, 85, 0.15) 75%,
    rgba(64, 69, 83, 0.14) 76%,
    rgba(66, 71, 87, 0.13) 77%,
    rgba(65, 71, 87, 0.12) 78%,
    rgba(62, 68, 85, 0.11) 79%,
    rgba(65, 71, 83, 0.1) 80%,
    rgba(62, 68, 87, 0.1) 81%,
    rgba(67, 74, 87, 0.09) 82%,
    rgba(64, 71, 85, 0.09) 83%,
    rgba(67, 75, 90, 0.08) 84%,
    rgba(72, 72, 88, 0.08) 85%,
    rgba(68, 76, 93, 0.07) 86%,
    rgba(73, 73, 91, 0.07) 87%,
    rgba(69, 78, 88, 0.06) 88%,
    rgba(67, 78, 89, 0.05) 89%,
    rgba(73, 73, 85, 0.05) 90%,
    rgba(67, 67, 81, 0.05) 91%,
    rgba(60, 75, 90, 0.04) 92%,
    rgba(73, 73, 91, 0.04) 93%,
    rgba(64, 85, 85, 0.03) 94%,
    rgba(77, 77, 102, 0.03) 95%,
    rgba(96, 96, 96, 0.02) 96%,
    rgba(85, 85, 85, 0.02) 97%,
    rgba(64, 64, 128, 0.01) 98%,
    rgba(128, 128, 128, 0.01) 99%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(32, 39, 56, 0.8) 0%,
    rgba(31, 39, 56, 0.8) 7%,
    rgba(43, 49, 65, 0.62) 28%,
    rgba(41, 48, 65, 0.61) 29%,
    rgba(44, 50, 65, 0.6) 30%,
    rgba(44, 51, 66, 0.59) 31%,
    rgba(43, 50, 65, 0.58) 32%,
    rgba(45, 50, 68, 0.57) 33%,
    rgba(45, 52, 68, 0.56) 34%,
    rgba(45, 52, 69, 0.55) 35%,
    rgba(45, 53, 67, 0.53) 37%,
    rgba(47, 53, 70, 0.52) 38%,
    rgba(48, 54, 69, 0.51) 39%,
    rgba(47, 53, 68, 0.5) 40%,
    rgba(47, 53, 69, 0.49) 41%,
    rgba(49, 56, 72, 0.47) 43%,
    rgba(50, 56, 71, 0.46) 44%,
    rgba(51, 55, 72, 0.45) 45%,
    rgba(51, 55, 71, 0.43) 47%,
    rgba(50, 57, 73, 0.42) 48%,
    rgba(51, 58, 72, 0.41) 49%,
    rgba(51, 58, 75, 0.4) 50%,
    rgba(52, 57, 74, 0.39) 51%,
    rgba(51, 59, 74, 0.38) 52%,
    rgba(55, 60, 75, 0.37) 53%,
    rgba(54, 61, 76, 0.36) 54%,
    rgba(54, 59, 75, 0.35) 55%,
    rgba(56, 61, 77, 0.34) 56%,
    rgba(55, 63, 77, 0.33) 57%,
    rgba(55, 60, 77, 0.32) 58%,
    rgba(55, 61, 78, 0.31) 59%,
    rgba(56, 62, 79, 0.3) 60%,
    rgba(58, 64, 79, 0.29) 61%,
    rgba(56, 62, 78, 0.28) 62%,
    rgba(57, 64, 80, 0.27) 63%,
    rgba(59, 62, 78, 0.26) 64%,
    rgba(60, 64, 81, 0.25) 65%,
    rgba(59, 65, 79, 0.24) 66%,
    rgba(60, 67, 81, 0.23) 67%,
    rgba(59, 67, 81, 0.22) 68%,
    rgba(61, 65, 80, 0.21) 69%,
    rgba(59, 67, 78, 0.2) 70%,
    rgba(61, 69, 81, 0.19) 71%,
    rgba(59, 68, 81, 0.18) 72%,
    rgba(62, 66, 84, 0.17) 73%,
    rgba(64, 68, 87, 0.16) 74%,
    rgba(66, 71, 85, 0.15) 75%,
    rgba(64, 69, 83, 0.14) 76%,
    rgba(66, 71, 87, 0.13) 77%,
    rgba(65, 71, 87, 0.12) 78%,
    rgba(62, 68, 85, 0.11) 79%,
    rgba(65, 71, 83, 0.1) 80%,
    rgba(62, 68, 87, 0.1) 81%,
    rgba(67, 74, 87, 0.09) 82%,
    rgba(64, 71, 85, 0.09) 83%,
    rgba(67, 75, 90, 0.08) 84%,
    rgba(72, 72, 88, 0.08) 85%,
    rgba(68, 76, 93, 0.07) 86%,
    rgba(73, 73, 91, 0.07) 87%,
    rgba(69, 78, 88, 0.06) 88%,
    rgba(67, 78, 89, 0.05) 89%,
    rgba(73, 73, 85, 0.05) 90%,
    rgba(67, 67, 81, 0.05) 91%,
    rgba(60, 75, 90, 0.04) 92%,
    rgba(73, 73, 91, 0.04) 93%,
    rgba(64, 85, 85, 0.03) 94%,
    rgba(77, 77, 102, 0.03) 95%,
    rgba(96, 96, 96, 0.02) 96%,
    rgba(85, 85, 85, 0.02) 97%,
    rgba(64, 64, 128, 0.01) 98%,
    rgba(128, 128, 128, 0.01) 99%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(32, 39, 56, 0.8) 0%,
    rgba(31, 39, 56, 0.8) 7%,
    rgba(43, 49, 65, 0.62) 28%,
    rgba(41, 48, 65, 0.61) 29%,
    rgba(44, 50, 65, 0.6) 30%,
    rgba(44, 51, 66, 0.59) 31%,
    rgba(43, 50, 65, 0.58) 32%,
    rgba(45, 50, 68, 0.57) 33%,
    rgba(45, 52, 68, 0.56) 34%,
    rgba(45, 52, 69, 0.55) 35%,
    rgba(45, 53, 67, 0.53) 37%,
    rgba(47, 53, 70, 0.52) 38%,
    rgba(48, 54, 69, 0.51) 39%,
    rgba(47, 53, 68, 0.5) 40%,
    rgba(47, 53, 69, 0.49) 41%,
    rgba(49, 56, 72, 0.47) 43%,
    rgba(50, 56, 71, 0.46) 44%,
    rgba(51, 55, 72, 0.45) 45%,
    rgba(51, 55, 71, 0.43) 47%,
    rgba(50, 57, 73, 0.42) 48%,
    rgba(51, 58, 72, 0.41) 49%,
    rgba(51, 58, 75, 0.4) 50%,
    rgba(52, 57, 74, 0.39) 51%,
    rgba(51, 59, 74, 0.38) 52%,
    rgba(55, 60, 75, 0.37) 53%,
    rgba(54, 61, 76, 0.36) 54%,
    rgba(54, 59, 75, 0.35) 55%,
    rgba(56, 61, 77, 0.34) 56%,
    rgba(55, 63, 77, 0.33) 57%,
    rgba(55, 60, 77, 0.32) 58%,
    rgba(55, 61, 78, 0.31) 59%,
    rgba(56, 62, 79, 0.3) 60%,
    rgba(58, 64, 79, 0.29) 61%,
    rgba(56, 62, 78, 0.28) 62%,
    rgba(57, 64, 80, 0.27) 63%,
    rgba(59, 62, 78, 0.26) 64%,
    rgba(60, 64, 81, 0.25) 65%,
    rgba(59, 65, 79, 0.24) 66%,
    rgba(60, 67, 81, 0.23) 67%,
    rgba(59, 67, 81, 0.22) 68%,
    rgba(61, 65, 80, 0.21) 69%,
    rgba(59, 67, 78, 0.2) 70%,
    rgba(61, 69, 81, 0.19) 71%,
    rgba(59, 68, 81, 0.18) 72%,
    rgba(62, 66, 84, 0.17) 73%,
    rgba(64, 68, 87, 0.16) 74%,
    rgba(66, 71, 85, 0.15) 75%,
    rgba(64, 69, 83, 0.14) 76%,
    rgba(66, 71, 87, 0.13) 77%,
    rgba(65, 71, 87, 0.12) 78%,
    rgba(62, 68, 85, 0.11) 79%,
    rgba(65, 71, 83, 0.1) 80%,
    rgba(62, 68, 87, 0.1) 81%,
    rgba(67, 74, 87, 0.09) 82%,
    rgba(64, 71, 85, 0.09) 83%,
    rgba(67, 75, 90, 0.08) 84%,
    rgba(72, 72, 88, 0.08) 85%,
    rgba(68, 76, 93, 0.07) 86%,
    rgba(73, 73, 91, 0.07) 87%,
    rgba(69, 78, 88, 0.06) 88%,
    rgba(67, 78, 89, 0.05) 89%,
    rgba(73, 73, 85, 0.05) 90%,
    rgba(67, 67, 81, 0.05) 91%,
    rgba(60, 75, 90, 0.04) 92%,
    rgba(73, 73, 91, 0.04) 93%,
    rgba(64, 85, 85, 0.03) 94%,
    rgba(77, 77, 102, 0.03) 95%,
    rgba(96, 96, 96, 0.02) 96%,
    rgba(85, 85, 85, 0.02) 97%,
    rgba(64, 64, 128, 0.01) 98%,
    rgba(128, 128, 128, 0.01) 99%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc202738', endColorstr='var()00000',GradientType=1 );
}


.return-text{
  z-index: 2;
}

.return-text {
  transition: transform 2s ease-in-out;
}

.return-text:hover {
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
