/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.__td-w-0, .__prod_code, .__prod_name, .__prod_category, .__prod_price{
  width: 0;
  height: 0;
  min-width: 0px;
  min-height: 0px;
}

.__td-w-0{
  min-width: max-content;
}

.__td-w-0, .__prod_name, .__prod_category{
  white-space: break-spaces !important;
}

.main-content .col {
  max-width: fit-content;
}

table.align-items-center > thead > tr > th:nth-child(odd){
  background: #b98b4029 !important;
}

table.align-items-center > tbody > tr > td:nth-child(odd){
  background: #b98b4010 ;
}

table.align-items-center > thead > tr > *:nth-child(odd),
table.align-items-center > tbody > tr > *:nth-child(odd){
  color: #b98b40 !important;
}


.__prod_name{
  min-width: 160px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .__prod_name, .__prod_category{
    width: 150px;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .__prod_name{
    width: 180px;
    min-width: 180px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .__prod_category{
    width: 200px;
    min-width: 145px;
  }

  .__prod_name{
    width: 225px;
    min-width: 225px;
  }


}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .__prod_name{
    width: fit-content;
  }

  .__prod_name{
    min-width: 260px;
  }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .__prod_name{
    width: fit-content;
    min-width: 200px;
  }

}

.text-primary
{
  color: #b98b40 !important;
}

.navbar.navbar-vertical .navbar-nav > .nav-item:hover{
  background: #f1e5d050;
  font-weight: 500;
}

.navbar.navbar-vertical .navbar-nav > .nav-item > a {
  text-decoration: none;
  position: relative;
}

.navbar.navbar-vertical .navbar-nav > .nav-item > a::after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 25.25%;
  width: 40%;
  height: 0.75px;
  background-color: #3d2e16;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.navbar.navbar-vertical .navbar-nav > .nav-item > a:hover::after {
  transform: scaleX(1);
}

div.input-group-append{
  z-index: 2;
}